<div class="container">
    <div class="row">
        <div style="text-align:center;padding:8px; background-color:#f0f0f0">
            <h3> List of Survey</h3>
        </div>
        <br/>

   <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>SurveyName</th>
        <th>IsActive</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let survey of listSurveys" >
        <td >{{survey.SurveyMasterId}}</td>
        <td>{{survey.SurveyName}}</td>
        <td>{{survey.IsActive == 1 ?'Active':'In-Active' }}</td>
      </tr>
    </tbody>
   </table>

        <!--<div *ngFor="let survey of listSurveys" class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div style="text-align:center" (click)="GetDetailsSurveyReport(survey.SurveyMasterId)" [style.background-color]="survey.IsActive == 1 ? 'red' : green"
                    class="panel-body">
                    <h3>{{survey.SurveyName}}</h3>
                    <p>{{survey.IsActive == 1 ?'(Active Survey)':'(In-Active Survey)' }}
                </div>
            </div>
        </div>-->

    </div>
</div>