<div class="panel panel-primary" style="text-align:center; width:100%;   background-color: #989898;
    color: white;">
    <font size="5"> <b> {{SurveyName}}</b></font>
</div>
<div style="margin-bottom:10px;" *ngFor="let opt of options;let i = index">
    <div class="panel panel-default">
        <div style="background-color:#e2e2e2" class="panel-heading">
            <font size="3"><b>Question : {{i+1}} </b></font>
            <div style="float:right">
                <span><font size="3"><b>Chart Type</b></font></span>
                <img src="assets/Images/bar.png" style="cursor:pointer;" (click)="Changechart('bar',i)" alt="bar" width="30px" height="30px"
                /> &nbsp;&nbsp;&nbsp;
                <img src="assets/Images/column.png" style="cursor:pointer;" (click)="Changechart('column',i)" alt="bar" width="30px" height="30px"
                /> &nbsp;&nbsp;&nbsp;
                <img src="assets/Images/pie.png" style="cursor:pointer;" (click)="Changechart('pie',i)" alt="bar" width="30px" height="30px"
                /> &nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        </div>

        <div class="panel-body">
            <div style="padding:10px;padding-left:15%; padding-bottom:7px; background-color:white;">
                <!--<label style="display:none">{{opt.raw[0].QuestionID}}</label>-->
                <label style="font-weight:600%"><font size="5">{{opt.raw[0].Question}}</font></label>
                <div style="text-align:left; padding-left:18%">
                       <label>Answered : {{opt.raw[0].Answered}}</label> &nbsp;&nbsp;&nbsp;
                <label>Skipped : {{opt.raw[0].skipped}}</label>
                </div>
             
                <app-ChartReports [Opt]="opt"></app-ChartReports>

            </div>
        </div>
    </div>
</div>
<script>
    window.history.go(-1);

</script>