<!--<div class="container">
<div class="row">
    <div class="row bg-primary" >
      <div class="col-xs-4"><b>SurveyName</b></div>
      <div class="col-xs-3"><b>IsActive</b></div>
      <div><b>UserId</b></div>
    </div>
  <div class="row">
    <div *ngFor="let survey of surveys;">
<div class="col-xs-4">{{survey.SurveyName}}</div>
<div class="col-xs-3">{{survey.IsActive}}</div>
<div>{{survey.UserId}}</div>
    </div>
    </div>
</div>
</div>-->