
<nav style="background-color: #545c9a;" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">   
      <a style="color: white;" class="navbar-brand" ><img style="display: inline;  margin-right: 6px;" src="assets/Images/logo.png" width="30" height="30" >Voter Book</a>
    </div>
  
  </div>
</nav>

<div style="width:100%; height:100%;">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title"><b>Welcome to Voter Book</b></h1>
      <br/>
      <div class="account-wall" style="text-align:center">
        <img src="assets/Images/logo.png" />
        <form (ngSubmit)="onLogin(f)" #f="ngForm" class="form-signin">
          <input type="text" id="email" name="email" ngModel class="form-control" placeholder="username" required >
          <br>
          <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required >
          <div *ngIf="showerror" style="color:red">{{errorMessage}}</div>
          <button class="btn btn-lg btn-primary btn-block"  type="submit"> Login</button>
        </form>
      </div>
 
    </div>
  </div>
</div>
</div>