<div style="padding-left:10%; padding-right:10%">
  <div class="h3 text-center">Edit Survey : {{selectedSurvey.surveyname}}</div>
<form [formGroup]="QuestionsForm" (ngSubmit)="onSave()">
  <div style="background-color:#F0F0F0" id="grid" formArrayName="Questions">
    <div style="padding:15px; border:2px solid black;margin-bottom:4px" *ngFor="let question of QuestionsForm.controls.Questions.controls; let i=index"
      [formGroupName]="i">
      <label><font size="4">Question {{i+1}}</font></label>
      <span style="float:right; border:1px solid black;padding:1px" (click)="DeleteQuestion(i)" class="glyphicon glyphicon-remove"></span>
      <textarea class="form-control" formControlName="QuestionText"></textarea>
      <br>
      <div style="padding:5px" class="form-group">
        <label style="padding:0px"><font size="3"><b>Question Type :</b></font></label> &nbsp; &nbsp; &nbsp; &nbsp;
        <label style="display:inline">
        <input type="radio" formControlName="QuestionType" value="Single"   > &nbsp; Single</label> &nbsp; &nbsp;
        <label style="display:inline">
        <input type="radio" formControlName="QuestionType"  value="Multiple"> &nbsp; Multiple</label>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div formArrayName="Options">
              <div *ngFor="let option of question.controls.Options.controls; let j=index" [formGroupName]="j">
                <span style="display:block; padding:3px;">
              <label>Option {{j+1}}</label> &nbsp;&nbsp;&nbsp;
              <input  style="display:inline; border-radius:3px" type="text"  formControlName="OptionValue">
              <span  (click)="DeleteOption(i,j)" class="glyphicon glyphicon-remove"></span>
                <select formControlName="NextQuestionId" *ngIf="!EmptyFirstQuestion">   
                   <option> select  </option>   
                  <option [hidden]="i+1 === number"   *ngFor ="let number of QuestionsCountArray">
               {{i+1 != number?number:''}}
           </option>
         </select>
                </span>
              </div>
                 <button class="btn btn-success" type="button" (click)="AddOption(i)">AddOption</button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group radio">
              <fieldset>
                <legend><b>Logic</b></legend>
                <label class="center-block">
                  <!--*ngIf="isFirstQuestion"    {{ i+1===QuestionCount ? '0':i+2}}-->
         <input type="radio" (click)="ConfigureOption(i,'1')"  formControlName="LogicType"  [value]="1" > Default Next Question &nbsp;&nbsp;
        <span *ngIf="EmptyFirstQuestion" style="border:1px solid black;width:20px;padding-left:10px; padding-right:10px;"><b>0</b></span>
        <span *ngIf="!EmptyFirstQuestion"  style="border:1px solid black;width:20px;padding-left:10px; padding-right:10px;">
          <b>{{ getnextdefaultQuestion(i)}}</b>
            </span> 
          <!--<input  *ngIf="!EmptyFirstQuestion" type="text" style="width:30px; text-align:center; display:inline" value="{{ getnextdefaultQuestion(i)}}" formControlName="NextQuestionId"/>-->
           
       </label>
                <label class="center-block">
         <input type="radio" (click)="ConfigureOption(i,'2')" formControlName="LogicType"  [value]="2"> Skip to Question 
         <select   formControlName="NextQuestionId"   *ngIf="!EmptyFirstQuestion">
           <option> select  </option>   
           <option [hidden]="i+1 === number"   *ngFor ="let number of QuestionsCountArray">
               {{i+1 != number?number:''}}
           </option>
         </select>
         <!--[attr.selected]="number == i+2 ? true : null"-->
       </label>
                <label class="center-block">
         <input (click)="ConfigureOption(i,'3')" type="radio" formControlName="LogicType"  [value]="3"> Configure Question to each Option on Selected
       </label>
              </fieldset>
            </div>

          </div>
        </div>

      </div>

      <!--border:1px solid black; -->


      <br>
     
    </div>
  </div>
  <div style="text-align:center; padding:15px;">
    <div style="text-align:left">
      <div style="border:1px solid black;display:inline-block;border-radius:180px; width:30px;">
        <font size="4"><span style="padding:5px" (click)="AddNewQuestion()" class="glyphicon glyphicon-plus"></span></font>
      </div>
      <span><b>Add Question</b></span>
    </div>


    <button class="btn btn-primary" style="width:250px;" type="submit">Save</button>
  </div>

</form>
</div>