<div class="container">
  <div class="h3 text-center"> Enter User Details</div>
  <div class="">
    <form [formGroup]="userForm" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" formControlName="UserName" #user (blur)="Checkusername(user.value)" class="form-control">
            <span style="color:red" *ngIf="howerror">User is Already Taken</span>
            <span *ngIf="!userForm.get('UserName').valid && userForm.get('UserName').touched" class="bg-warning">Username should have minimum length of 3</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="firstname">Firstname</label>
            <input type="text" name="firstname" formControlName="FirstName" class="form-control">
            <span *ngIf="!userForm.get('FirstName').valid && userForm.get('FirstName').touched" class="help-block">Firstname should not have spaces and Special Characters</span>
          </div>
        </div>
        <!--<div class="row">-->
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" name="lastname" formControlName="LastName" class="form-control">
            <!--</div>-->
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="emailid">Emailid</label>
            <input type="text" name="emailid" formControlName="EmailId" class="form-control">
            <span *ngIf="!userForm.get('EmailId').valid && userForm.get('EmailId').touched" class="help-block">Enter a valid EmailId</span>
          </div>
        </div>
        <!--<div class="row">-->
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="password" formControlName="Password" class="form-control">
            <span *ngIf="!userForm.get('Password').valid && userForm.get('Password').touched" class="help-block">Password should have minimum length of 6</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="mobilenumber">MobileNumber</label>
            <input type="text" name="mobilenumber" formControlName="MobileNumber" class="form-control">
            <span *ngIf="!userForm.get('MobileNumber').valid && userForm.get('MobileNumber').touched" class="help-block">Enter a Valid MobileNumber</span>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label>IsActive</label>
            <input type="checkbox" ng-model="checkbox" name="isactive" formControlName="IsActive">
          </div>
        </div>
        <div *ngIf="editMode">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!userForm.valid">{{btntext}}</button>
          <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
        <div *ngIf="!editMode">
          <button class="btn btn-primary btn-block" type="submit" [disabled]="!userForm.valid">{{btntext}}</button>
        </div>
        <div class="help-block">{{Errors}}</div>
      </div>
    </form>
  </div>
</div>
