  /*.main{
    padding: 10px 10px 0 10px;
  }

  .navbar-custom {
    color: #FFFFFF;
    background-color: #545c9a;
    position: fixed;
    width: 100%;
    z-index: 100000;
}
    
  .sidebar-nav-fixed {
    padding: 9px 0;
    position:fixed;
    left:20px;
    top:60px;
    width:250px;
}

@media only screen and ( max-width:375px) and (min-width:320px)
{
  a.navbar-brand{
    width:290px;
  }

}
  @media only screen and ( max-width:375px)
{
  a.navbar-brand{
    width:345px;
  }
}
@media only screen and (max-width:425px)
{
  a.navbar-brand{
    width:395px;
  }
}
@media only screen and (max-width:768px) and (min-width:425px)
{
  a.navbar-brand{
    width:734px;
  }
}
@media only screen and (max-width:1024px) and (min-width:768px)
{
  a.navbar-brand{
    width:130px;
  }
}

#navbar-toggle-cbox {
  display:none
}
#navbar-toggle-cbox:checked ~ .collapse {
    display: block;
}

*/
