<!--<nav class="navbar navbar-default navbar-custom">
  <a class="navbar-brand">
    <img src="assets/Images/logo.png" width="30" height="30" class="d-inline-block align-top">
  </a>
  <label style="padding-top:1%;float:left font-family: serif;"><font size="5">Voter Book</font></label>
   <span style="float:right;padding-top:1%;padding-right:2%;color:white">
      Welcome Admin
      </span>
</nav>-->


<nav style="background-color: #545c9a; margin-bottom: 0px !important;" class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a style="color: white;" class="navbar-brand"><img style="display: inline;  margin-right: 6px;" src="assets/Images/logo.png" width="30" height="30" >Voter Book</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav" style="width: 74vw;">
        <li routerLinkActive="active"><a style="color: white;font-size:15px;" routerLink="./user">Users</a></li>
        <li routerLinkActive="active"><a style="color: white;font-size:15px;" routerLink="./survey">Survey</a></li>
        <li routerLinkActive="active" style="float:right;"><a style="color: white; font-size:15px;" routerLink="/login">Logout</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>-->
    </div>
  </div>
</nav>

<!--<div class=" col-xs-12 col-sm-12 col-md-2 col-lg-2 col-lg-offset-2">      
      <div  class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1"></div>
      <ul  style="padding-top:60px"  class="nav nav-list">
        <li><a routerLink="./user">Users</a></li>
        <li><a routerLink="./survey">Survey</a></li>
        <li><a routerLink="./questions">Questions</a></li>
        <li><a routerLink="./Reports">Report</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
      
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6">
      <router-outlet></router-outlet>
    </div>-->
<router-outlet></router-outlet>
