@media only screen and (max-width: 992px) {
    .smscreen{
        display: none;
    }
}
@media only screen and (max-width:1440px)
{
    div.row{
        width:750px;
    }
    div.col-md-2
    {
        width:180px;
    }
}




