<div class="container">
  <div class="h2 text-center">Users</div>
  <button class="btn btn-primary" (click)="onAddUser()">Add User</button>
  <br>
  <div>
  <table #usertable class="table table-bordered table-hover table-responsive">
    <thead style="background-color:#545c9a">
      <tr>
      <th style="color: white"><b>Full Name</b></th>
      <th style="color: white"><b>Username</b></th>
      <th style="color: white"><b>MobileNumber</b></th>
      <th></th>
      </tr>
    </thead>

    <tbody >
      <tr *ngFor="let user of users;" [ngClass]="{'active':user.IsActive==1?true:false,'danger':user.IsActive==0?true:false}">
      <td>
        <a style="cursor:pointer" (click)="onView(user)">
          {{user?.FirstName+" "+user?.LastName}}
        </a>
      </td>
      <td>{{user?.UserName}}</td>
      <td>{{user?.MobileNumber}}</td>
      <td><button class="btn btn-danger" (click)="onDelete(user)">Delete</button></td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
