  <div style="text-align:center;padding:3px; background-color:#f0f0f0">
      <h4> {{surveydetails.SurveyName}}</h4>
    </div>
    <br/>
<div class="container">
  <div class="row">  
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-info">
        <div class="panel-heading">Design Summary</div>
        <div class="panel-body">
          <div style="text-align:left">
            <h4> {{surveydetails.SurveyName}}</h4>
               <p><span class="glyphicon glyphicon-list-alt"></span>&nbsp; 10/10/2017</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="panel panel-info">
        <div class="panel-heading">Response Summary
          <span (click)="gotoAnalyze()" class="glyphicon glyphicon-stats" style="float:right">&nbsp;Analyze</span>
        </div>
        <div class="panel-body">
          <div>
          <div style="text-align:left;display:inline-block; ">
            <h1> {{TotalResponses}}</h1>
            <p>Total Responses</p>
          </div>
          <div style="display:inline-block; padding-left:20%;">
             <h2>{{surveydetails.IsActive == 1 ?'Active Survey':'In-Active Survey' }}</h2>        
          </div>
          </div>            
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-6"> 
        <div style="border:1px solid #f0f0f0">
      <chart [options]="Optdate" ></chart>   
        </div>
    </div>
    <div class="col-sm-6">
      <div style="border:1px solid #f0f0f0">
        <chart [options]="Optarea" ></chart> 
      </div>
        </div>
    <div class="col-sm-6">
        <div style="border:1px solid #f0f0f0">
       <chart [options]="Optage" ></chart> 
        </div>
         </div>
    <div class="col-sm-6">
        <div style="border:1px solid #f0f0f0">
       <chart [options]="Optgender" ></chart>  
        </div>
        </div>
  </div>
</div>

