<div class="container">
  <div class="text-center h2">
    User Details
  </div>

  <!--<div class="row">
      <div class="col-md-3">
        <label for="userid">UserId:</label>
        <label>{{users?.UserId}}</label>
      </div>
    </div>-->
  <div class="row text-center">
    <div class="col-md-6">
      <label for="username">Username:</label>
      <label>{{users?.UserName}}</label>
    </div>
    <div class="col-md-6">
      <label for="FirstName">FirstName:</label>
      <label>{{users?.FirstName}}</label>
    </div>


    <div class="col-md-6">
      <label for="LastName">LastName:</label>
      <label>{{users?.LastName}}</label>
    </div>
    <div class="col-md-6">
      <label for="Emailid">Emailid:</label>
      <label>{{users?.EmailId}}</label>
    </div>


    <div class="col-md-6">
      <label for="password">Password:</label>
      <label>{{users?.Password}}</label>
    </div>
    <div class="col-md-6">
      <label for="mobilenumber">MobileNumber:</label>
      <label>{{users?.MobileNumber}}</label>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-6">
      <label for="IsActive">IsActive</label>
      <label>{{ users?.IsActive}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-6 col-xs-4 col-xs-offset-5">
      <button class="btn btn-primary center" (click)="onEdit(users)">Edit User</button>
    </div>
  </div>

</div>
