.form-control{
    width:207px;
}
.row{
    width:650px;
}
@media only screen and (max-width:375px) and (min-width:320px)
{
    .col-xs-3{
        width:130px;
    }
}
@media only screen and (max-width:425px) and (min-width:375px)
{
    .col-xs-3{
        width:143px;
    }

}

@media only screen and (max-width:550px) and (min-width:425px)
{
    .col-xs-3{
        width:130px;
    }
}
@media only screen and (max-width:768px) and (min-width:425px)
{
    .col-xs-2{
        width:150px;
    }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

