<div class="container">
  <div class="h2 text-center"> Surveys</div>
  <form (ngSubmit)="saveSurvey()" [formGroup]="surveyForm" class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" formControlName="SurveyName" placeholder="Enter New SurveyName">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Add New Survey</button>
    </div>

  </form>
  <br>
  <table class="table table-bordered table-hover table-striped table-responsive">
    <tr style="background-color:#545c9a;">
      <th style="color:white"><b>SurveyName</b></th>
      <th style="color:white"><b>IsActive</b></th>
      <th></th>
    </tr>
    <tr *ngFor="let survey of surveys; let i=index">
      <td>{{survey.SurveyName}}</td>
      <td><label class="switch">
            <input type="checkbox" name="checkbox" [ngModel]="survey.IsActive" value="1" (click)="UpdateSurveyState($event,survey.SurveyMasterId)">
            <span class="slider round"></span></label></td>
      <td>
        <button class="btn btn-primary" type="button" (click)="onEdit(survey)">Edit</button>
        <button class="btn btn-primary" type="button" routerLink="/admin/Reports/{{survey.SurveyMasterId}}/Detail">Reports</button>
      </td>

    </tr>
  </table>
</div>
